<div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide"><img src="Content/img/banner.gif" alt=""></li>
        <li class="swiper-slide"><img src="Content/img/banner.gif" alt=""></li>
        <li class="swiper-slide"><img src="Content/img/banner.gif" alt=""></li>
        <li class="swiper-slide"><img src="Content/img/banner.gif" alt=""></li>
        <li class="swiper-slide"><img src="Content/img/banner.gif" alt=""></li>
    </ul>
    <div class="swiper-pagination"></div>
</div>
<ul class="ban">
    <li>
        <i class="icon iconfont icon-snapchat"></i>
        <span>车商城</span>
    </li>
    <li>
        <i class="icon iconfont icon-line" style="background: #ff9d3e;"></i>
        <span>分期购车</span>
    </li>
    <li>
        <i class="icon iconfont icon-whatsapp"></i>
        <span>团购活动</span>
    </li>
    <li>
        <i class="icon iconfont icon-gongzuojilu" style="background: #4183ff;"></i>
        <span>找二手车</span>
    </li>
</ul>
<div class="product">
    <img src="Content/img/bg.jpg" alt="">
</div>
<div class="carServer">
    <h2>车主服务</h2>
    <ol class="ban bans">
        <li>
            <i class="icon iconfont icon-wodedingdan" style="color:#ff4e00; "></i>
            <span>油卡充值</span>
        </li>
        <li>
            <i class="icon iconfont icon-daishouhuo-01" style="color: #0aa570;"></i>
            <span>低价保险</span>
        </li>
        <li>
            <i class="icon iconfont icon-youhuiquan-01" style="color: #7760ef"></i>
            <span>4S店保养</span>
        </li>
        <li>
            <i class="icon iconfont icon-youhuiquan-geren-01" style="color: #0aa570;"></i>
            <span>品质轮胎</span>
        </li>
        <li>
            <i class="icon iconfont icon-zhifu-01" style="color:#ff4e00; "></i>
            <span>车品商城</span>
        </li>
        <li>
            <i class="icon iconfont icon-06" style="color:#4183ff; font-size: 1rem"></i>
            <span>洗车</span>
        </li>
        <li>
            <i class="icon iconfont icon-03" style="color:#ff4e00;font-size: .9rem "></i>
            <span>违章代缴</span>
        </li>
        <li>
            <i class="icon iconfont icon-tengxunweibo" style="color:#ff4e00;font-size: .9rem "></i>
            <span>免费测评</span>
        </li>
        <li>
            <i class="icon iconfont icon-xiaoxi" style="color:#4183ff;"></i>
            <span>查周边</span>
        </li>
        <li>
            <i class="icon iconfont icon-tongjitu111" style="color: #0aa570;"></i>
            <span>车主卡</span>
        </li>
        <li>
            <i class="icon iconfont icon-zantinghuodong" style="color:#4183ff;" ></i>
            <span>领券保养</span>
        </li>
        <li>
            <i class="icon iconfont icon-gongzuo"></i>
            <span>全部</span>
        </li>
    </ol>
</div>
<div class="hotShop">
    <h2>
        <span>限时抢购</span>
        <p><b>13</b>:<b>13</b>:<b>13</b></p>
    </h2>
    <div id="coller">
        <ul class="list">
            <li>
                <img src="Content/img/img1.gif" alt="">
                <p>补胎工具简易套装</p>
                <span><em>￥9.9元</em><b>28元</b></span>
            </li>
            <li>
                <img src="Content/img/img2.gif" alt="">
                <p>车用椅背挂钩</p>
                <span><em>￥9.9元</em><b>28元</b></span>
            </li>
            <li>
                <img src="Content/img/img1.gif" alt="">
                <p>补胎工具简易套装</p>
                <span><em>￥9.9元</em><b>28元</b></span>
            </li>
            <li>
                <img src="Content/img/img2.gif" alt="">
                <p>车用椅背挂钩</p>
                <span><em>￥9.9元</em><b>28元</b></span>
            </li>
            <li>
                <img src="Content/img/img2.gif" alt="">
                <p>车用椅背挂钩</p>
                <span><em>￥9.9元</em><b>28元</b></span>
            </li>
            <li>
                <img src="Content/img/img1.gif" alt="">
                <p>补胎工具简易套装</p>
                <span><em>￥9.9元</em><b>28元</b></span>
            </li>
        </ul>
    </div>

</div>
<div class="active">
    <h2>
        <span>活动专区</span>
        <p>更多活动&nbsp;&nbsp;<i class="icon iconfont icon-chevron-thin-right"></i></p>
    </h2>
    <ul class="carsInfo">
        <li>
            <p>测身价炫富</p>
            <span>身价大PK</span>
            <img src="Content/img/pic1.gif" alt="">
        </li>
        <li>
            <p>全场0利率</p>
            <span>购车无压力</span>
            <img src="Content/img/pic2.gif" alt="">
        </li>
        <li>
            <p>好车分期</p>
            <span>专属定制方案</span>
            <img src="Content/img/pic3.gif" alt="">
        </li>
    </ul>
</div>
<div class="content">
    <h2>
        <span>猜你喜欢</span>
        <p>更多&nbsp;&nbsp;<i class="icon iconfont icon-chevron-thin-right"></i></p>
    </h2>
   <ul class="cars">
       <li ng-repeat="key in data">
           <img ng-src="{{key.img}}" alt="">
           <h3>{{key.title}}</h3>
           <p>{{key.content}}</p>
           <span>{{key.price}}</span><b>{{key.status}}</b>
       </li>
   </ul>
</div>
<div class="content">
    <h2>
        <span>猜你喜欢</span>
        <p >更多&nbsp;&nbsp;<i class="icon iconfont icon-chevron-thin-right"></i></p>
    </h2>
    <ul class="cars onload">
        <li ng-repeat="key in datas">
            <img ng-src="{{key.img}}" alt="">
            <h3>{{key.title}}</h3>
            <p>{{key.content}}</p>
            <span>{{key.price}}</span><b>{{key.status}}</b>
        </li>
    </ul>
    <p id="more">点击加载更多哦</p>
</div>